[Desktop Entry]
Type=Application
Name=TG WS Proxy
Comment=Local MTProto proxy over WebSocket for Telegram
Exec=tg-ws-proxy
Icon=tg-ws-proxy
Terminal=true
Categories=Network;Utility;